body {
    background-color: burlywood;
    align-content:center;
    Display: flex;
    font-family: "Roboto","Open Sans", sans-serif;
    font-size: 18px;   
}

.svgs {
    flex: auto;
    position: relative;
    align-content: center;
    min-
}

.content {
    -webkit-clip-path: circle(26.3em);
    clip-path: circle(26.3em);
}

@media {max-width:659px {

}

@media {min-width:660px {

}

@media (min-width:800px) {
   
}
    
@media (min-width:1000px) {

}
    
@media (min-width:1200px) {
    
    body {
        background-image: url("https://picsum.photos/id/104");
        background-repeat: no-repeat;
        background-position: center;
    }
}